<div class="container">
  <div class="col-md-8 col-md-offset-2">
  <h2><%= current_user.username.capitalize %>'s Portfolio </h2>
  
  <h3>Add a New Stock</h3>

  <form method="POST" action='/stock/new/<%=@id%>'><br>

    Stock Name: <input type="text" name='stock[name_1]'>
    
    Portfolio Weight:  <input type="text" name='weight[portfolio_weight_1]'>
    
    <br>
    <br>
    
    Stock Name: <input type="text" name='stock[name_2]'>
    
    Portfolio Weight:  <input type="text" name='weight[portfolio_weight_2]'>
    
    <br>
    <br>
    
    Stock Name: <input type="text" name='stock[name_3]'>
    
    Portfolio Weight:  <input type="text" name='weight[portfolio_weight_3]'>
    
    <br>
    <br>
    
    Stock Name: <input type="text" name='stock[name_4]'>
    
    Portfolio Weight:  <input type="text" name='weight[portfolio_weight_4]'>
    
    <br>
    <br>
    
    Stock Name: <input type="text" name='stock[name_5]'>
    
    Portfolio Weight:  <input type="text" name='weight[portfolio_weight_5]'>
    
    <br>
    <br>
    
    Stock Name: <input type="text" name='stock[name_6]'>
    
    Portfolio Weight:  <input type="text" name='weight[portfolio_weight_6]'>
    
    <br>
    <br>
    
    Stock Name: <input type="text" name='stock[name_7]'>
    
    Portfolio Weight:  <input type="text" name='weight[portfolio_weight_7]'>
    
    <br>
    <br>
    
    Stock Name: <input type="text" name='stock[name_8]'>
    
    Portfolio Weight:  <input type="text" name='weight[portfolio_weight_8]'>
    
    <br>
    <br>
    
    Stock Name: <input type="text" name='stock[name_9]'>
    
    Portfolio Weight:  <input type="text" name='weight[portfolio_weight_9]'>
    
    <br>
    <br>
    
    Stock Name: <input type="text" name='stock[name_10]'>
    
    Portfolio Weight:  <input type="text" name='weight[portfolio_weight_10]'>
    
    <br>
    <br>
    
  <input type="submit" value="Add Stocks">  
  
  </form>
    
  </div>
</div>