<div class="container">
  <div class="col-md-8 col-md-offset-2">
  <h2><%= current_user.username %>'s Portfolio </h2>
  
  <% current_user.portfolios.each do |y| %>
  <h3>  <%y.name%>'s Portfolio </h3>
    
    <% y.stocks.each do |x| %>
      <li> <%= x.name %> <%= x.stock_weight %> </li> <br>
    <% end %> 
    
  <%end%>
  
  </div>
</div>